:root {
  --light-bg-color: #ff8300;
  --light-bg-select: #ffa320;
}

@font-face {
  font-family: "SinsGold";
  src: url("./fonts/SinsGold.otf");
}

body {
  font-family: 'SinsGold';
  color: #ffffff;
  background-color: var(--light-bg-color);
  text-align: center;
  font-size: 30px;
  text-shadow: -3px -3px 0 #000000, -2px -3px 0 #000000, -1px -3px 0 #000000, 0px -3px 0 #000000, 1px -3px 0 #000000, 2px -3px 0 #000000, 3px -3px 0 #000000,
    -3px -2px 0 #000000, -2px -2px 0 #000000, -1px -2px 0 #000000, 0px -2px 0 #000000, 1px -2px 0 #000000, 2px -2px 0 #000000, 3px -2px 0 #000000,
    -3px -1px 0 #000000, -2px -1px 0 #000000, -1px -1px 0 #000000, 0px -1px 0 #000000, 1px -1px 0 #000000, 2px -1px 0 #000000, 3px -1px 0 #000000,
    -3px 0px 0 #000000, -2px 0px 0 #000000, -1px 0px 0 #000000, 0px 0px 0 #000000, 1px 0px 0 #000000, 2px 0px 0 #000000, 3px 0px 0 #000000,
    -3px 1px 0 #000000, -2px 1px 0 #000000, -1px 1px 0 #000000, 0px 1px 0 #000000, 1px 1px 0 #000000, 2px 1px 0 #000000, 3px 1px 0 #000000,
    -3px 2px 0 #000000, -2px 2px 0 #000000, -1px 2px 0 #000000, 0px 2px 0 #000000, 1px 2px 0 #000000, 2px 2px 0 #000000, 3px 2px 0 #000000,
    -3px 3px 0 #000000, -2px 3px 0 #000000, -1px 3px 0 #000000, 0px 3px 0 #000000, 1px 3px 0 #000000, 2px 3px 0 #000000, 3px 3px 0 #000000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  image-rendering: pixelated;
  /* Universal support since 2021   */
  image-rendering: optimize-contrast;
  /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;
  /* IE8+                           */

}